* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Change from Run Buddy body */
body {
    color: #000001;
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
}

header {
    padding: 20px 35px;
    background-color: #03045E;
    display: flex;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #ffffff;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

.primary-border {
    border-bottom: 2px solid;
    border-color: #00b4d8;
    padding-bottom: 10px;
}

/* Hero Style Start */
.hero {
    background-image: url("../images/hero.jpg");
    height: 600px;
    background-size:cover;
    background-position:top;
  }

  .hero-note {
    border: 3px solid #0077b6;
    background-color: #00b4d8;
    padding: 20px;
    width: 300px;
    color: #ffffff;
    position: sticky;
    float: right;
  }

  .hero-note p {
    font-weight: bold;
    text-align: center;
  }
  /* Hero Style End */

footer {
    background:#03045E;
    width: 100%;
    padding: 40px 35px;
}

footer h3 {
    display: inline;
    color: #ffffff;
    font-size: 30px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #ffffff;
    font-style: normal;
}

section {
    padding: 60px;
}

.heading {
    float:left;
    border-right: solid;
    border-color: #03045E;
    padding: 10px;
}

.left-column {
    flex: 1 30%;
    margin: 30px auto;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
}

/*responsive elements*/
@media screen and (max-width: 980px) {
    header {
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }